In [4]:
import pandas as pd
import numpy as np
import glob

In [5]:
csv_files = glob.glob("data/lahman_1871-2024_csv/*.csv")
csv_files

['data/lahman_1871-2024_csv\\AllstarFull.csv',
 'data/lahman_1871-2024_csv\\Appearances.csv',
 'data/lahman_1871-2024_csv\\AwardsManagers.csv',
 'data/lahman_1871-2024_csv\\AwardsPlayers.csv',
 'data/lahman_1871-2024_csv\\AwardsShareManagers.csv',
 'data/lahman_1871-2024_csv\\AwardsSharePlayers.csv',
 'data/lahman_1871-2024_csv\\Batting.csv',
 'data/lahman_1871-2024_csv\\BattingPost.csv',
 'data/lahman_1871-2024_csv\\CollegePlaying.csv',
 'data/lahman_1871-2024_csv\\Fielding.csv',
 'data/lahman_1871-2024_csv\\FieldingOF.csv',
 'data/lahman_1871-2024_csv\\FieldingOFsplit.csv',
 'data/lahman_1871-2024_csv\\FieldingPost.csv',
 'data/lahman_1871-2024_csv\\HallOfFame.csv',
 'data/lahman_1871-2024_csv\\HomeGames.csv',
 'data/lahman_1871-2024_csv\\Managers.csv',
 'data/lahman_1871-2024_csv\\ManagersHalf.csv',
 'data/lahman_1871-2024_csv\\Parks.csv',
 'data/lahman_1871-2024_csv\\People.csv',
 'data/lahman_1871-2024_csv\\Pitching.csv',
 'data/lahman_1871-2024_csv\\PitchingPost.csv',
 'data/lahman_1871-2024_csv\\Salaries.csv',
 'data/lahman_1871-2024_csv\\Schools.csv',
 'data/lahman_1871-2024_csv\\SeriesPost.csv',
 'data/lahman_1871-2024_csv\\Teams.csv',
 'data/lahman_1871-2024_csv\\TeamsFranchises.csv',
 'data/lahman_1871-2024_csv\\TeamsHalf.csv']

In [6]:
salaries = pd.read_csv("data/lahman_1871-2024_csv/Salaries.csv")
salaries.head()

latest_year = salaries['yearID'].max()
print("Latest year with salary data:", latest_year)

Latest year with salary data: 2016

In [7]:
years = list(range(latest_year - 10, latest_year + 1))
years

[2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]

In [8]:
salaries_11yr = salaries[salaries['yearID'].isin(years)].copy()

In [9]:
pitching = pd.read_csv("data/lahman_1871-2024_csv/Pitching.csv")
fielding = pd.read_csv("data/lahman_1871-2024_csv/Fielding.csv")

pitching_agg = pitching.groupby(['playerID', 'yearID'], as_index=False).sum(numeric_only=True)
fielding_agg = fielding.groupby(['playerID', 'yearID'], as_index=False).sum(numeric_only=True)

In [10]:
pitcher_salaries = salaries_11yr.merge(pitching_agg, on=['playerID', 'yearID'], how='inner')
combined = pitcher_salaries.merge(fielding_agg, on=['playerID', 'yearID'], how='left', suffixes=('_pitch', '_field'))

In [11]:
combined.rename(columns={'salary': 'Salary'}, inplace=True)

In [12]:
combined['TrainVal'] = np.where(combined['yearID'] == latest_year, 'Validation', 'Training')

In [13]:
cols_to_drop = ['teamID', 'lgID', 'stint']
combined = combined.drop(columns=[c for c in cols_to_drop if c in combined.columns], errors='ignore')

In [19]:
combined.to_csv("data/Pitcher_Salary_Data.csv", index=False)

In [20]:
final_data = pd.read_csv("data/Pitcher_Salary_Data.csv")
print("Preview of Saved Pitcher_Salary_Data.csv ")
display(final_data.head(43))

Preview of Saved Pitcher_Salary_Data.csv

,yearID,playerID,Salary,stint_pitch,W,L,G_pitch,GS_pitch,CG,SHO,...,PO,A,E,DP,PB,WP_field,SB,CS,ZR,TrainVal
0,2007,aardsda01,387500,1,2,1,25,0,0,0,...,2,4,1.0,0,0.0,0.0,0.0,0.0,0.0,Training
1,2008,aardsda01,403250,1,4,2,47,0,0,0,...,3,6,0.0,0,0.0,0.0,0.0,0.0,0.0,Training
2,2009,aardsda01,419000,1,3,6,73,0,0,0,...,2,5,0.0,1,0.0,0.0,0.0,0.0,0.0,Training
3,2010,aardsda01,2750000,1,0,6,53,0,0,0,...,2,3,1.0,0,0.0,0.0,0.0,0.0,0.0,Training
4,2012,aardsda01,500000,1,0,0,1,0,0,0,...,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,Training
5,2011,abadfe01,418000,1,1,4,29,0,0,0,...,1,2,2.0,0,0.0,0.0,0.0,0.0,0.0,Training
6,2012,abadfe01,485000,1,0,6,37,6,0,0,...,3,6,0.0,0,0.0,0.0,0.0,0.0,0.0,Training
7,2014,abadfe01,525900,1,2,4,69,0,0,0,...,0,8,0.0,0,0.0,0.0,0.0,0.0,0.0,Training
8,2015,abadfe01,1087500,1,2,2,62,0,0,0,...,2,4,0.0,0,0.0,0.0,0.0,0.0,0.0,Training
9,2016,abadfe01,1250000,3,1,6,57,0,0,0,...,0,4,0.0,1,0.0,0.0,0.0,0.0,0.0,Validation
10,2006,accarje01,330000,3,2,4,65,0,0,0,...,2,12,0.0,0,0.0,0.0,0.0,0.0,0.0,Training
11,2007,accarje01,392200,1,4,4,64,0,0,0,...,6,3,0.0,0,0.0,0.0,0.0,0.0,0.0,Training
12,2008,accarje01,392200,1,0,3,16,0,0,0,...,1,0,0.0,1,0.0,0.0,0.0,0.0,0.0,Training
13,2010,accarje01,1080000,1,0,1,5,0,0,0,...,0,1,0.0,0,0.0,0.0,0.0,0.0,0.0,Training
14,2011,accarje01,1080000,1,3,3,31,0,0,0,...,1,5,0.0,1,0.0,0.0,0.0,0.0,0.0,Training
15,2010,aceveal01,435650,1,3,0,10,0,0,0,...,0,2,0.0,0,0.0,0.0,0.0,0.0,0.0,Training
16,2012,aceveal01,1200000,1,2,10,69,0,0,0,...,9,12,2.0,1,0.0,0.0,0.0,0.0,0.0,Training
17,2013,aceveal01,2650000,1,4,1,11,6,0,0,...,2,7,2.0,0,0.0,0.0,0.0,0.0,0.0,Training
18,2008,acostma01,392500,1,3,5,46,0,0,0,...,7,13,2.0,3,0.0,0.0,0.0,0.0,0.0,Training
19,2012,acostma01,875000,1,1,3,45,0,0,0,...,3,2,1.0,0,0.0,0.0,0.0,0.0,0.0,Training
20,2015,adamsau01,507700,1,2,0,28,0,0,0,...,0,4,0.0,0,0.0,0.0,0.0,0.0,0.0,Training
21,2009,adamsmi03,414800,1,0,0,37,0,0,0,...,4,2,0.0,0,0.0,0.0,0.0,0.0,0.0,Training
22,2010,adamsmi03,1000000,1,4,1,70,0,0,0,...,4,6,0.0,0,0.0,0.0,0.0,0.0,0.0,Training
23,2011,adamsmi03,2535000,3,5,4,75,0,0,0,...,4,5,0.0,0,0.0,0.0,0.0,0.0,0.0,Training
24,2012,adamsmi03,4400000,1,5,3,61,0,0,0,...,5,12,0.0,2,0.0,0.0,0.0,0.0,0.0,Training
25,2013,adamsmi03,5000000,1,1,4,28,0,0,0,...,5,3,1.0,0,0.0,0.0,0.0,0.0,0.0,Training
26,2014,adamsmi03,7000000,1,2,1,22,0,0,0,...,0,5,0.0,1,0.0,0.0,0.0,0.0,0.0,Training
27,2011,adcocna01,414000,1,1,1,24,3,0,0,...,7,8,0.0,0,0.0,0.0,0.0,0.0,0.0,Training
28,2009,adenhni01,400000,1,0,0,1,1,0,0,...,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,Training
29,2006,affelje01,1000000,3,8,8,54,9,0,0,...,1,13,1.0,1,0.0,0.0,0.0,0.0,0.0,Training
30,2007,affelje01,1250000,1,4,3,75,0,0,0,...,2,12,0.0,0,0.0,0.0,0.0,0.0,0.0,Training
31,2008,affelje01,3000000,1,1,1,74,0,0,0,...,7,22,1.0,2,0.0,0.0,0.0,0.0,0.0,Training
32,2009,affelje01,3500000,1,2,2,74,0,0,0,...,4,12,1.0,2,0.0,0.0,0.0,0.0,0.0,Training
33,2010,affelje01,4000000,1,4,3,53,0,0,0,...,3,15,3.0,0,0.0,0.0,0.0,0.0,0.0,Training
34,2011,affelje01,4500000,1,3,2,67,0,0,0,...,7,11,0.0,0,0.0,0.0,0.0,0.0,0.0,Training
35,2012,affelje01,5000000,1,1,2,67,0,0,0,...,5,13,1.0,1,0.0,0.0,0.0,0.0,0.0,Training
36,2013,affelje01,6000000,1,1,5,39,0,0,0,...,1,9,0.0,0,0.0,0.0,0.0,0.0,0.0,Training
37,2014,affelje01,6000000,1,4,2,62,0,0,0,...,0,20,0.0,2,0.0,0.0,0.0,0.0,0.0,Training
38,2015,affelje01,6000000,1,2,2,52,0,0,0,...,3,6,0.0,0,0.0,0.0,0.0,0.0,0.0,Training
39,2008,albaljo01,393225,1,0,1,7,0,0,0,...,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,Training
40,2009,albaljo01,403075,1,5,1,32,0,0,0,...,1,7,0.0,0,0.0,0.0,0.0,0.0,0.0,Training
41,2008,alberma01,395000,1,3,3,28,3,0,0,...,5,6,0.0,0,0.0,0.0,0.0,0.0,0.0,Training
42,2009,alberma01,410000,1,3,6,56,0,0,0,...,4,6,0.0,0,0.0,0.0,0.0,0.0,0.0,Training